@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#026E81, #00ABBD ); 
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(35, 69, 100, 0.767);
    width: 80%;
    padding: 10px;
    margin: auto;
}
h1{
    background-color: #b86c2131;
    width: 100%;
    border-radius: 10px;
    color: #FF9933;
    text-align: center;
    text-shadow: 1px 1px 2px #5e462dc2;
}
h2{
    display: ruby;
    background-color:#01363f2f ;
    border-radius: 8px;
    padding: 5px;
    color: #027083;
    text-align:left ;
}
p{
    text-align: justify;
}